body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

#nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

#nav li {
    font-family: sans-serif;
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
}

#nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

#nav a:hover {
    background-color: #005f5f;
}

#nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}
.columnLeft {
    float: left;
    background-color: dodgerblue;
    /*border-style: inset;*/
    border: 5px inset red;
    height: 493px;
    width: 43%;
}
.columnRight {
    background-color: #FFF;
    float: left;
    height: 500px;
    width: 55%;
}

