html { 
    background-color: blanchedalmond; 
    font-family: Arial, Helvetica, Sans-serif;
}

h1, h2, h3, p { 
    font-size:12pt;
    color:darkslategrey; font-weight:bold; 
}
       
p	{ font-size:10pt;
	  color:darkslategrey; }

p.alert	{ font-style: italic; color:red;}

table	{ font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	  color:darkslategrey; }

select	{ font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	  font-weight: bold; color:green; background-color: yellowgreen; }

option	{ font-family: Arial, Helvetica, Sans-serif; font-size:10pt;
	  color:darkslategrey; background: silver; }

